<div class="row shadow-sm mt-3 justify-content-center m-0">
    <div class="col-10">
        <p class="h5 text-muted">Ingrese los detalles</p>
        <form (ngSubmit)="editarUsuario()" [formGroup]="formCrearUsuario" class="mt-5 pb-5">
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="dni">Dni</label>
                </div>
                <input [class.is-invalid]="dni.touched && dni.invalid" type="text" class="form-control ml-3 col-6" formControlName="dni" placeholder="Ingresa tu dni">
                <div class="col-3" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                    <small class="text-danger" *ngIf="dni.errors.required">Campo requerido</small>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="nombres">Nombres</label>
                </div>
                <input [class.is-invalid]="nombres.touched && nombres.invalid" type="text" class="form-control ml-3 col-6" formControlName="nombres" placeholder="Ingresa sus nombres">
                <div class="col-3" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                    <small class="text-danger" *ngIf="nombres.errors.required">Campo Requerido</small>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="apellidopaterno">Apellido Paterno</label>
                </div>
                <input [class.is-invalid]="apellidopaterno.touched && apellidopaterno.invalid" type="text" class="form-control ml-3 col-6" formControlName="apellidopaterno" placeholder="Ingresa el apellido paterno">
                <div class="col-3" *ngIf="apellidopaterno.invalid && (apellidopaterno.dirty || apellidopaterno.touched)">
                    <small class="text-danger" *ngIf="apellidopaterno.errors.required">Campo Requerido</small>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="apellidomaterno">Apellido Materno</label>
                </div>
                <input [class.is-invalid]="apellidomaterno.touched && apellidomaterno.invalid" type="text" class="form-control ml-3 col-6" formControlName="apellidomaterno" placeholder="Ingresa el apellido materno">
                <div class="col-3" *ngIf="apellidomaterno.invalid && (apellidomaterno.dirty || apellidomaterno.touched)">
                    <small class="text-danger" *ngIf="apellidomaterno.errors.required">Campo Requerido</small>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="tipoestado">Tipo de estado</label>
                </div>
                <select [class.is-invalid]="tipoestado.touched && tipoestado.invalid" class="form-control ml-3 col-6" formControlName="tipoestado">
                    <option disabled [selected]='true'>Seleccione una opción</option>
                    <option [value]="1">Habilitado</option>
                    <option [value]="0">Deshabilitado</option>
                </select>  
                <div class="col-3" *ngIf="tipoestado.invalid && (tipoestado.dirty || tipoestado.touched)">
                    <small class="text-danger" *ngIf="tipoestado.errors.required">Campo Requerido</small>
                </div>
                
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="usuario">Usuario</label>
                </div>
                <input type="text" class="form-control ml-3 col-6" formControlName="usuario" placeholder="Ingresa el usuario" disabled>
                
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="password">Contraseña</label>
                </div>
                <input [class.is-invalid]="password.touched && password.invalid" type="password" class="form-control ml-3 col-6" formControlName="password" placeholder="Ingresa una contraseña">
                <div class="col-3" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <small class="text-danger" *ngIf="password.errors.required">Campo Requerido</small>
                </div>
            </div>
            
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="negocio">Negocio</label>
                </div>
                <select [class.is-invalid]="negocio.touched && negocio.invalid"  class="form-control ml-3 col-6" formControlName="negocio">                    
                    <option disabled [selected]='true'  value="">Seleccione una opción</option>
                    <option  *ngFor="let negocio of negocios" [value]="negocio.idnegocio">{{negocio.descripcion}}</option>
                </select>
                <div class="col-3" *ngIf="negocio.invalid && (negocio.dirty || negocio.touched)">
                    <small class="text-danger" *ngIf="negocio.errors.required">Campo Requerido</small>
                </div>                
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="tiponivel">Tipo de nivel</label>
                </div>
                <select  [class.is-invalid]="tiponivel.touched && tiponivel.invalid" class="form-control ml-3 col-6" formControlName="tiponivel">                    
                    <option disabled [selected]='true' value="">Seleccione una opción</option>
                    <option  *ngFor="let nivel of niveles" [value]="nivel.idtipo_nivel">{{nivel.descripcion}}</option>
                </select>
                <div class="col-3" *ngIf="tiponivel.invalid && (tiponivel.dirty || tiponivel.touched)">
                    <small class="text-danger" *ngIf="tiponivel.errors.required">Campo Requerido</small>
                </div>               
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="correo">Correo</label>
                </div>
                <input [class.is-invalid]="correo.touched && correo.invalid" type="text" class="form-control ml-3 col-6" formControlName="correo" placeholder="Ingresa un correo">
                <div class="col-3" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                    <small class="text-danger" *ngIf="correo.errors.required">Campo Requerido</small>
                </div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="grabacion_opcion">Grabación</label>
                </div>
                <select  [class.is-invalid]="grabacion_opcion.touched && grabacion_opcion.invalid" class="form-control ml-3 col-6" formControlName="grabacion_opcion">                    
                    <option disabled [selected]='true' value="">Seleccione una opción</option>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                </select>
                <div class="col-3" *ngIf="grabacion_opcion.invalid && (grabacion_opcion.dirty || grabacion_opcion.touched)">
                    <small class="text-danger" *ngIf="grabacion_opcion.errors.required">Campo Requerido</small>
                </div>               
            </div>

            <div class="form-group row align-items-center mt-5">
                <button type="submit" class="btn tran col-3" [disabled]="!formCrearUsuario.valid">Editar</button>
                <div class="mt-3 ml-5">
                    <span [class]="classValid">{{ response }}</span>
                </div>
            </div>
            

        </form>
    </div>

</div>
