


.der{
    background-image: url('/assets/img/bg-4.jpg');
    *{
        color: white;
    }
}

input{
    border: none;
    border-bottom: 1px solid gray;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
}

button{
    background-color: #5867dd;
}