<div class="row shadow-sm mt-3 justify-content-center m-0">
    <div class="col-12 p-0">

        <div width="600" class="mat-elevation-z8 col-12 p-0 overflow-auto">
            <table mat-table [dataSource]="dataSource" class="col-12 responsive">

                <!-- Position Column -->
                <!-- <ng-container matColumnDef="idcampana">
                    <th mat-header-cell *matHeaderCellDef> ID. </th>
                    <td mat-cell *matCellDef="let element"> {{element.idcampana}} </td>
                </ng-container> -->

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_campana}}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="detalle">
                    <th mat-header-cell *matHeaderCellDef> Detalle </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button (click)='openDetail(element)' class="p-1 pl-3 pr-3 tran">Ver detalle</button> 
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="progreso">
                    <th mat-header-cell *matHeaderCellDef> Progreso  </th>
                    <td mat-cell *matCellDef="let element"> 
                        <label for="">{{element.progreso}} %</label>
                        <mat-progress-bar mode="determinate" [value]="element.progreso"></mat-progress-bar>
                    </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef   class="pl-5"> Estado </th>
                    <td mat-cell *matCellDef="let element">

                        <button class="p-1 pl-3 pr-3 tran bg-secondary ml-5" (click)='descargarCampana(element.nombre_campana)' *ngIf="element.pid_campana==0 && element.contestados==0 && element.total_enviados!=element.Total_barridos">Pendiente</button>
                        <button class="p-1 pl-3 pr-3 tran bg-secondary ml-5" (click)='descargarCampana(element.nombre_campana)' *ngIf="element.pid_campana!=0">Enviando</button>
                        <button class="p-1 pl-3 pr-3 tran bg-secondary ml-5" (click)='descargarCampana(element.nombre_campana)' *ngIf="element.pid_campana==0 && element.total_enviados!=element.Total_barridos && element.contestados!=0">En Pausa</button>
                        <button class="p-1 pl-3 pr-3 tran bg-secondary ml-5" (click)='descargarCampana(element.nombre_campana)' *ngIf="element.pid_campana==0 && element.total_enviados==element.Total_barridos">Finalizado</button>

                    </td>                
                </ng-container>

                <ng-container matColumnDef="gestiones">
                    <th class="gestiones" mat-header-cell *matHeaderCellDef>Gestión</th>
                    <td class="gestiones" mat-cell *matCellDef="let element" class="p-0">
                        <div *ngIf="element.pid_campana==0 && element.contestados==0 && element.tipo_ivr==3">
                            <button  (click)='openDialog("6", element, "Iniciar")' class="p-1 pl-3 pr-3 tran">Iniciar</button>
                            <button  (click)='openDialog("3", element, "Relanzar")' class="p-1 pl-3 pr-3 tran ml-2 bg-success">Relanzar</button>
                            <button (click)='openDialog("4", element, "Borrar")' class="p-1 pl-3 pr-3 tran ml-2 bg-danger">Borrar</button>
                        </div>
                        <div *ngIf="element.pid_campana==0 && element.contestados==0">
                            <button (click)='openDialog("1", element, "Iniciar")' class="p-1 pl-3 pr-3 tran">Iniciar</button>
                            <button (click)='openDialog("3", element, "Relanzar")' class="p-1 pl-3 pr-3 tran ml-2 bg-success">Relanzar</button>
                            <button (click)='openDialog("4", element, "Borrar")' class="p-1 pl-3 pr-3 tran ml-2 bg-danger">Borrar</button>
                        </div>
                        <div *ngIf="element.pid_campana!=0">
                            <button (click)='openDialog("2", element, "Parar")' class="p-1 pl-3 pr-3 tran">Parar</button>
                            <button (click)='openDialog("4", element, "Borrar")' class="p-1 pl-3 pr-3 tran ml-2">Borrar</button>
                        </div>
                        <div *ngIf="element.pid_campana==0 && element.total_enviados == element.Total_barridos && element.contestados!=0">
                            <button (click)='openDialog("5", element, "Reiniciar")' class="p-1 pl-3 pr-3 tran">Reiniciar</button>
                            <button (click)='openDialog("3", element, "Relanzar")' class="p-1 pl-3 pr-3 tran ml-2 bg-success">Relanzar</button>
                            <button (click)='openDialog("4", element, "Borrar")' class="p-1 pl-3 pr-3 tran ml-2 bg-danger">Borrar</button>
                        </div>
                        <div *ngIf="element.pid_campana==0 && element.total_enviados != element.Total_barridos && element.contestados!=0">
                            <button (click)='openDialog("1", element, "Iniciar")' class="p-1 pl-3 pr-3 tran">Iniciar</button>
                            <button (click)='openDialog("3", element, "Relanzar")' class="p-1 pl-3 pr-3 tran ml-2 bg-success">Relanzar</button>
                            <button (click)='openDialog("4", element, "Borrar")' class="p-1 pl-3 pr-3 tran ml-2 bg-danger">Borrar</button>
                        </div>
                        
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[20, 30, 100]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

</div>