<div class="row shadow-sm mt-3 justify-content-center m-0">
    <div class="col-10">
        <p class="h5 text-muted">Ingrese los detalles</p>
        
        <form id="formFile">
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="file">Subir archivo *</label>
                </div>
                <input type="file" name="file" (change)="uploadFile($event)"  class="form-control ml-3 col-6" >
                
                <small class="text-danger ml-4" *ngIf="errors">{{errors}}</small>
                <small class="text-color2 ml-4" *ngIf="responseFile">{{responseFile}}</small>               
               
            </div>
        </form>

        <div class="form-group d-flex align-items-center">
            <div class="col-3">
                <label class="text-muted" for="troncalr">Lista de números</label>
            </div>
        
            <input (change)="uploadFileExcel($event)" type="file" class="form-control ml-3 col-6">
        
            <small class="text-danger ml-4" *ngIf="errors2">{{errors2}}</small>
            <small class="text-color2 ml-4" *ngIf="responseFileExcel">{{responseFileExcel}}</small>
        
        </div>

        <form (ngSubmit)="crearCampana()" [formGroup]="formCrearCampana" class="mt-5 pb-5">            

            
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="idproveedor">Proveedor *</label>
                </div>
                <select [class.is-invalid]="idproveedor.touched && idproveedor.invalid" class="form-control ml-3 col-6" formControlName="idproveedor">
                    <option value="">Seleccione una opcion</option>
                    <option *ngFor="let prov of proveedores"  [value]="prov.idnegocio">{{prov.descripcion}}</option>
                </select>
                <div class="col-3" *ngIf="idproveedor.invalid && (idproveedor.dirty || idproveedor.touched)">
                    <small class="text-danger" *ngIf="idproveedor.errors.required">Campo requerido</small>
                </div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="troncal">Troncal *</label>
                </div>             
                <select (change)="getName($event)" [class.is-invalid]="troncal.touched && troncal.invalid"  class="form-control ml-3 col-6" formControlName="troncal">
                    <option value="">Seleccione una opcion</option>
                    <option *ngFor="let troncal of troncales"  [value]="troncal.id">{{troncal.name}}</option>
                </select>
                <div class="col-3" *ngIf="troncal.invalid && (troncal.dirty || troncal.touched)">
                    <small class="text-danger" *ngIf="troncal.errors.required">Campo requerido</small>
                </div>
            </div>
            
            
            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="nombre">Nombre *</label>
                </div>
                <input [class.is-invalid]="nombre.touched && nombre.invalid" type="text" class="form-control ml-3 col-6" formControlName="nombre" placeholder="Seleccione una troncal" disabled>
                <div class="col-3" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <small class="text-danger" *ngIf="nombre.errors.required">Campo requerido</small>
                </div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="callerid">CallerId *</label>
                </div>
                <input [class.is-invalid]="callerid.touched && callerid.invalid" type="text" class="form-control ml-3 col-6" formControlName="callerid" placeholder="Ingrese el caller id">
                <div class="col-3" *ngIf="callerid.invalid && (callerid.dirty || callerid.touched)">
                    <small class="text-danger" *ngIf="callerid.errors.required">Campo requerido</small>
                </div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="dia">Fecha de envío *</label>
                </div>
                <input [class.is-invalid]="dia.touched && dia.invalid" type="date" class="form-control ml-3 col-6" formControlName="dia" placeholder="Ingrese la fecha de envío" [value]='fechaenvio'>
                <div class="col-3" *ngIf="dia.invalid && (dia.dirty || dia.touched)">
                    <small class="text-danger" *ngIf="dia.errors.required">Campo requerido</small>
                </div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="hora1">Hora de inicio *</label>
                </div>
                <input [class.is-invalid]="hora1.touched && hora1.invalid" type="time" class="form-control ml-3 col-6" formControlName="hora1" placeholder="Ingrese la hora de inicio" value="08:00">
                <div class="col-3" *ngIf="hora1.invalid && (hora1.dirty || hora1.touched)">
                    <small class="text-danger" *ngIf="hora1.errors.required">Campo requerido</small>
                </div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="hora2">Hora final *</label>
                </div>
                <input [class.is-invalid]="hora2.touched && hora2.invalid" type="time" class="form-control ml-3 col-6" formControlName="hora2" placeholder="Ingrese la hora final" value="20:00">
                <div class="col-3" *ngIf="hora2.invalid && (hora2.dirty || hora2.touched)">
                    <small class="text-danger" *ngIf="hora2.errors.required">Campo requerido</small>
                </div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="ivr">Tipo IVR *</label>
                </div>
                <label class="ml-1">
                    <input (change)="showIvrResp()" [class.is-invalid]="ivr.touched && ivr.invalid" class="ml-3" formControlName="ivr" type="radio" value="1">
                    IVR 1
                </label><br />
                <label>
                    <input (change)="showIvrResp()" [class.is-invalid]="ivr.touched && ivr.invalid" class="ml-3" formControlName="ivr" type="radio" value="4">
                    IVR Respuesta
                </label><br />
                <label>
                    <input (change)="showIvrResp()" [class.is-invalid]="ivr.touched && ivr.invalid" class="ml-3" formControlName="ivr" type="radio" value="5">
                    IVR Preview
                </label><br />
                <div class="col-3" *ngIf="ivr.invalid && (ivr.dirty || ivr.touched)">
                    <small class="text-danger" *ngIf="ivr.errors.required">Campo requerido</small>
                </div>
            </div>


            <div *ngIf="ivrResp" class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="trespuesta">Numero para la respuesta</label>
                </div>
                <input [class.is-invalid]="trespuesta.touched && trespuesta.invalid" type="text" class="form-control ml-3 col-6" formControlName="trespuesta" placeholder="Ingresa numero para la respuesta">
                
            </div>

            <div *ngIf="ivrResp" class="form-group d-flex align-items-center">
                <div class="col-3">
                    <label class="text-muted" for="troncalr">Troncal Respuesta</label>
                </div>
                <select [class.is-invalid]="troncalr.touched && troncalr.invalid"  class="form-control ml-3 col-6" formControlName="troncalr">
                    <option value="">Seleccione una opcion</option>
                    <option *ngFor="let troncal of troncales"  [value]="troncal.id">{{troncal.name}}</option>
                </select>
                
            </div>
            

            <div class="form-group row align-items-center mt-5">
                <button type="submit" class="btn tran col-3" [disabled]="!formCrearCampana.valid">Crear</button>
                <div class="mt-3 ml-5">
                    <span>{{ response }}</span>
                </div>
            </div>
        </form>
    </div>

</div>