.title{
    font-weight: 500;
    font-size: 16pt;
}

button{
    background-color: #f5eeff;
    color: #5024df;
    border-radius: 4px;
    border: none;
    padding: 10px;
    min-width: 100px;
}

button:hover{
    color: white;
    background-color: #5024df; 
}